body {
  background-image: url(./puntitos.png);
  margin: 0px;
  font-family: Open Sans;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-pages-menu {
  width: 428px;
  height: 28px;
  display: none;
}

@media (min-width: 769px) {
  .header-pages-menu {
    display: flex;
    justify-content: space-evenly;
  }
}

.rectangle-main-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .rectangle-main-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 17px;
  margin-top: 18px;
}

.menu-icon-lines {
  width: 36px;
  height: 6px;
}

@media (min-width: 769px) {
  .menu-icon-lines {
    display: none;
  }
}

.menu-line-container {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-welcome-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .title-welcome-container {
    width: 313px;
    height: 96px;
  }
}

.title-welcome {
  margin-left: 42px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.imgage-home-container {
  display: flex;
  justify-content: flex-end;
}

.image-home {
  margin-left: 31px;
}

.rectangle-about-me {
  background: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 620px;
}

@media (min-width: 769px) {
  .rectangle-about-me {
    display: flex;
    flex-direction: row-reverse;
  }
}

.title-about-me {
  margin: 20px 20px;
  font-size: 32px;
  color: white;
  letter-spacing: -2px;
}

.text-container-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .text-container-about-me {
    align-items: flex-start;
  }
}

.paragraph-container-about-me {
  width: 312px;
  height: 193px;
  font-family: Roboto;
  color: #fafafa;
}

@media (min-width: 769px) {
  .paragraph-container-about-me {
    width: 532px;
    height: 165px;
  }
}

.check-button-about-me {
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .check-button-about-me {
    width: 211px;
    height: 211px;
  }
}

.services {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.services-container {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Roboto;
}

@media (min-width: 769px) {
  .services-container {
    flex-direction: row;
  }
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 15px;
  max-width: 250px;
}

.services-title {
  margin-top: 50px;
  font-size: 32px;
  text-align: center;
  letter-spacing: -2px;
}

.service-image {
  padding: 50px 60px;
}

@media (min-width: 769px) {
  .service-image {
    width: 138px;
    height: 128px;
  }
}

.service-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2c2c2c;
}

.service-description {
  width: 262px;
  text-align: center;
  color: #2c2c2c;
}

.contact-section-container {
  height: 660px;
  padding: 65px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #141414;
}

.contact-section-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .contact-section-elements-container {
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
  }
}

.contact-section-title {
  font-size: 32px;
  text-align: center;
  letter-spacing: -2px;
  color: #fafafa;
}

@media (min-width: 769px) {
  .contact-section-title {
    margin-bottom: 310px;
    margin-right: 130px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  font-family: Roboto;
}

.contact-input-container {
  display: flex;
  flex-direction: column;
}

.contact-input-name {
  height: 45px;
  margin-left: 20px;
  margin-top: 10px;
  background: #ffffff;
}

.contact-input-title-indicator {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 13px;
  color: #fafafa;
}

.contact-input-message {
  height: 113px;
  margin-left: 20px;
  margin-top: 10px;
  background: #ffffff;
}

.contact-button-container {
  display: flex;
  justify-content: center;
}

.contact-button-send {
  margin-top: 60px;
  margin-left: 23px;
  width: 300px;
  height: 45px;
  background-color: #ffd953;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.footer-logo-copyright-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .footer-logo-copyright-container {
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
}

.footer-container {
  height: 493px;
  display: flex;
  flex-direction: column;
  background: #dbdbdb;
  font-family: Roboto;
  font-size: 13px;
}

.footer-elements-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .footer-elements-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 53px;
}

.footer-copyrigth-container {
  width: 83px;
  margin-left: 33px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
}

.social-media-container-instagram {
  display: flex;
  margin-top: 90px;
  align-items: center;
}

.social-media-container-linkedin {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.social-media-container-github {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.social-media-icon {
  height: 26.99991798400879px;
  width: 26.99477195739746px;
  margin-right: 20px;
  margin-left: 10px;
}

.social-media-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2c2c2c;
}
